body {
  background-color: rgb(208, 208, 218);
  font-family: Roboto, helvetica neue, helvetica, arial, sans-serif;
}


.weather-app {
  background: rgb(233, 233, 238);
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 30px 50px rbga(65, 50, 100, 0.8);
  border-radius: 15px;
  padding: 10px 30px 30px 30px;
}
